<h1>Hi <%= name %>, this is how other users will see your profile.</h1>
<h3><%= name %> <%= surname %></h3>

<div id="about">
<p>born in <%= birthplace %> in <%=dob%></p>
<p><%= name %> likes to <%= interest %> and
    <!-- if else for gender pronoun-->
 <% if(gender === 'male'){ %>
       <p>his</p>
   <% }if(gender === 'female'){ %>
       <p>her</p>
   <% } if (gender === 'other') { %> 
       <p>their</p> 
   <% } %>

   dream

<% if(orientation === 'straight'){ %>
    <% if(gender === 'male'){ %>
        <p>woman</p>
    <% } else{ %>
        <p>man</p>
    <% } %>
    <% } else{ %>
        <p>partner</p>
    <% } %>

   is <%= goals %> <p> 
</div>
<div>

   <h3> <%= name %>'s story </h3>
   <p>
       <%= story %>
   </p>
</div>
<div>
    <p>Occupation: <%= occupation %> </p>
</div>
<div>
    <p><%= name %>'s favourite quote: <%= favquote %> </p>
</div>


<h2>Your matches</h2>

<% for (var i = 0; i< people.length;  i++ ){ %>
    <li><%= people[i].firstname %> - <%= people[i].surname %> </li>
    <form action="/like" method="POST">
        <button class="like" type="submit" value="like">like <%= people[i].firstname %> </button>
    </form>
    <form action="/like" method="POST">
        <button class="dislike" type="submit" value="dislike">dislike <%= people[i].surname %></button>
    </form>
    <% } %>   


    
    <% for(var i=0;i<people.length;i++) { %>

        <span onclick="getId('<%=people[i].firstname%>')"><%=people[i].firstname%></span>
        
        <% } %>
